p {
    color: #000000;
    font-size: 64px;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 0px 20px red;
    text-indent: 150px;
    letter-spacing: 0px;
    
}

a{
    text-decoration: none;
}

ul{
    list-style-type: decimal;
}